.movie-card {
  margin-bottom: 2rem;
  width: 35rem;
  font-size: 1.4rem;
  border-radius: 0.8rem;
  border: 2px solid #ccc;
  overflow: hidden;
}

.flex {
  display: flex;
  justify-content: center;
}

.icon {
  font-size: 2.5rem;
  margin-right: 1rem;
}

.stats {
  font-size: 2rem;
}

.movie-card * {
  padding-bottom: 0.5rem;
}

.movie-img {
  width: 100%;
  height: 75%;
}

.movie-title {
  font-size: 2rem;
  padding-inline: 1rem;
  margin-bottom: 1.5rem;
}
