#loading {
  width: 2rem;
  height: 2rem;
  border: 5px solid gray;
  border-top: 6px solid black;
  border-radius: 100%;
  margin: 1rem auto 0.5rem;
  /* display: none; */
  animation: spin 1s infinite linear;
}

/* #loading.show {
  display: block;
} */

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
