#loading {
  width: 4rem;
  height: 4rem;
  border: 7px solid var(--gray);
  border-top: 8px solid var(--blue);
  border-radius: 100%;
  margin: 1rem auto 0.5rem;
  animation: spin 1s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
